<!DOCTYPE html>
<html lang="en" ng-app="toDo">
<head>
	<meta charset="UTF-8">
	<title>To Do</title>

	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
</head>
<body>
	
	<div class="container">
		<div class="row">

		  <div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
				
				<div class="row">
					<div class="col-md-12" ng-controller="ToDoController">

						<form name="form-add" class="form" role="form"  ng-submit="addTodo()">
							<div class="form-group">
								<label class="sr-only" for="task-add">Task</label>
								<input type="text" ng-model="todo.title" class="form-control" id="todo-title" placeholder="Enter your task" autofocus ng-required="true">
							</div>
							<button type="submit" class="btn btn-primary btn-block">Add</button>
						</form>
						
						<h3>To Do Items</h3>

						<table class="table-striped todo-table">
							<tr ng-repeat="(id, todo) in todoItems">
								<td class="todo-table-item todo-table-item--check">
									<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todoItems.$save(id)">
								</td>
								<td class="todo-table-item todo-table-item--title">
									<span data-date="{{todo.createdOn | date:'shortDate'}}" data-time="{{todo.createdOn | date:'mediumTime'}}" ng-class="{striked: todo.completed}">{{todo.title}}</span>
								</td>
								<td class="todo-table-item todo-table-item--button">
									<button class="btn btn-danger" ng-click="deleteTodo(id)">Delete</button>
								</td>
							</tr>
						</table>

					</div>
				</div>



			  </div>
			</div>

		  </div>
		</div>
	</div>

	
	
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>